*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ee2b3b;
}

::-webkit-scrollbar-track {
  background: #595959;
}

body,
nav,
section,
ul,
section,
.column,
.row,
.hero-cta-item {
  display: flex;
}

body {
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

main {
  /* padding: 0 40px; */
  /* background-color: inherit; */
}

img {
  height: auto;
  width: 325px;
}

/* Navbar */
nav {
  justify-content: space-between;
  height: 100px;
  padding: 0 35px;
  align-items: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 40px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  transition: all 0.3s ease-in-out;
}

li:hover {
  color: #ce202f;
  cursor: pointer;
}

#logo {
  height: auto;
  width: 180px;
  margin-bottom: 5px;
}

.feather-search:hover {
  color: #ce0e2d;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav>button {
  margin-right: 20px;
}

/* Utilities */
button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 24px;
  background-color: #ffc844;
}

button:hover {
  cursor: pointer;
}

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.action:hover {
  /* Look into transition effect for buttons */
}

/* Main Hero */
.hero-main {
  flex-direction: column;
  background-color: #222222;
  height: 85vh;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.hero-main:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(2deg);
}

.left {
  align-items: flex-start;
  padding: 40px;
  color: white;
  width: 700px;
  margin-left: 50px;
  margin-top: 50px;
}

.left>p {
  font-size: 17px;
  margin-top: 30px;
  letter-spacing: 1px;
  font-weight: 300;
}

.left>h1 {
  font-size: 35px;
  font-weight: 800;
  line-height: 1;
}

.left>button {
  margin-top: 30px;
}

.right {
  margin: 0 100px;
}

/* CTA Section */
.hero-cta {
  background-color: #ce0e2d;
  color: white;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
}

.hero-cta-item {
  flex-direction: column;
  width: 300px;
  height: 200px;
  margin: 20px 20px;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.feather-monitor,
.feather-list,
.feather-users {
  margin-bottom: 30px;
}

/* About */
.about {
  justify-content: center;
  align-items: center;
  height: 130vh;
  line-height: 2;
  flex-direction: column;
  padding: 50px;
}

.center {
  text-align: center;
  margin-bottom: 30px;
  width: 800px;
}

.center>h2 {
  font-size: 38px;
}

.card {
  width: 250px;
  margin: 20px 20px 30px 0;
}

.card>svg {
  color: #ce0e2d;
  margin-top: 30px;
}

.card>h2, .card>p {
  color: #2d2a26;
}

.card>h2 {
  font-size: 26px;
  font-weight: 700;
}

/* Return To Work Resources */
.return-to-life {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  background-color: #222222;
}

.return-to-life>h2 {
  margin-bottom: 40px;
  color: white;
  padding-top: 30px;
}

.row {
  /* width: 70vw; */
  /* justify-content: space-between; */
}

.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  text-align: center;
  color: white;
}

/* Carousel */
.stretch {
  width: 100%;
}